.text-truncate-container {
    width: 250px;
}
.text-truncate-container h3 {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.offer-tags{
    border-radius: 15px;
    background-color: aquamarine;
    
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.55rem;
  }
  
  .badge-secondary {
    color: #fff;
    background-color: #6c757d;
  }

  .internship{
    background-color: #ac1c1c
  }

  .partTime{
    background-color: #098c09
  }

  .fullTime{
    background-color: #3d3de1c6
  }

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-inner {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }